## Visual Studio / .NET Core
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## JetBrains Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## Test results
TestResults/
*.trx

Projekti/
